@charset "utf-8";
@import url("./reset.css");

:root{
    --w-size:1473px;
}

/* --는 규칙을 설정하고 w-size라는 문자에 1473px 값을 저장 */
/* :root{}는 해당 css문서에서 단축키 처럼 만드는것 => 변수*/



header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
}
header > nav{}
header > nav > a{
    padding: 50px 100px;
    display: inline-block;
    /* block을 쓰면 밑으로 내려가기때문에 inline-block */
    font-size: 1.2rem;
}

header > h1{}
header > h1 > a{}



main{}
.visual{
    height: 350px;
    /* width는 안써도 block태그라서 전체영역을 활용함 */
    background: url('../img/Rectangle\ 9.jpg') 0 0 / cover no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}
.visual > h2{ 
    font-size: 4rem;
    font-style: italic;
    color: rgba(255,255,255,0.8);
    font-weight: 400;
}



.menu{
    width: var(--w-size);
    margin: 150px auto;
    text-align: center;
}
.menu > h3{
    font-size: 1.8rem;
}
.menu > h3::after{
    content:'';
    width: 100px;
    border: 1px solid black;
    display: block;
    margin: 20px auto;
}
.menu > p{}
.menu > ul{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.menu > ul > li{
    
    width: 300px;
    /* 이미지가 모두 사이즈가 다른경우라면 꼭 가로 사이즈를 지정 */
}
.menu > ul > li > figure{}
.menu > ul > li > figure img{
    width: 100%;
    transition: 0.5s;
    /* img한테는 꼭 100% 넣어주기(이미지 사이즈가 서로 달랐으면 비율문제가 생김) */
}
.menu > ul > li > figure > figcaption{margin-top: 40px;}

.menu > ul > li > figure p{height: 300px; overflow: hidden;}
/* overflow hidden 넘어서는 부분을 감춰주는 것 */
/* p로 img묶어주면 좋은 이유! */
.menu > ul > li > figure img:hover{
    width: 150%;
    
}


